<style>
    input.highlight {
        border: 1px solid #0056b3; /* 테두리 색상 */
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 그림자 효과 */
        transition: all 0.3s ease; /* 부드러운 전환 효과 */
    }

</style>

<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <h3>Status: <span id="status_label" style="color: GREEN;"></span></h3>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <label for="ch1" class="form-label">Spectrum Inquery Status:</label>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch1" data-func="" data-chno=1 data-low=3300000000 data-high=3310000000 value=1 >
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch2" data-func="" data-chno=2 data-low=3310000000 data-high=3320000000  value=2>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch3" data-func="" data-chno=3 data-low=3320000000 data-high=3330000000  value=3>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch4" data-func="" data-chno=4 data-low=3330000000 data-high=3340000000  value=4>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch5" data-func="" data-chno=5 data-low=3340000000 data-high=3350000000  value=5>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch6" data-func="" data-chno=6 data-low=3350000000 data-high=3360000000  value=6>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch7" data-func="" data-chno=7 data-low=3360000000 data-high=3370000000  value=7>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch8" data-func="" data-chno=8 data-low=3370000000 data-high=3380000000  value=8>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch9" data-func="" data-chno=9 data-low=3380000000 data-high=3390000000  value=9>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="inquery_ch10" data-func="" data-chno=10 data-low=3390000000 data-high=3400000000  value=10>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <label for="ch1" class="form-label">Channel Grant Status:</label>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch1" data-func="get_grant" data-chno=1 data-low=3300000000 data-high=3310000000 value=1 >
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch2" data-func="get_grant" data-chno=2 data-low=3310000000 data-high=3320000000  value=2>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch3" data-func="get_grant" data-chno=3 data-low=3320000000 data-high=3330000000  value=3>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch4" data-func="get_grant" data-chno=4 data-low=3330000000 data-high=3340000000  value=4>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch5" data-func="get_grant" data-chno=5 data-low=3340000000 data-high=3350000000  value=5>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch6" data-func="get_grant" data-chno=6 data-low=3350000000 data-high=3360000000  value=6>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch7" data-func="get_grant" data-chno=7 data-low=3360000000 data-high=3370000000  value=7>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch8" data-func="get_grant" data-chno=8 data-low=3370000000 data-high=3380000000  value=8>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch9" data-func="get_grant" data-chno=9 data-low=3380000000 data-high=3390000000  value=9>
        <input type="button" class="btn btn-falcon-default btn-sm di_click_evt" id="grant_ch10" data-func="get_grant" data-chno=10 data-low=3390000000 data-high=3400000000  value=10>
    </div>
</div>

<div class="gx-2 gy-3 row">
    <div class="col-md-4">
        <label for="grant_ch_status">Channel status: </label>
        <input type="text" id="grant_ch_status" name="grant_ch_status" class="form-control"/>
    </div>
    <div class="col-md-8">
        <label for="grant_freq_range">Frequency Range (Hz): </label>
        <input type="text" id="grant_freq_range" name="grant_freq_range"  class="form-control"/>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-6">
        <label for="grant_ch_status">GrantExpireTime: </label>
        <input type="text" id="grant_expiretime" name="grant_expiretime" class="form-control"/>
    </div>
    <div class="col-md-6">
        <label for="grant_freq_range">TransmitExpireTime: </label>
        <input type="text" id="transmit_expiretime" name="transmit_expiretime"  class="form-control"/>
    </div>
</div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12">
        <label for="grantId2">Grant Id: </label>
        <input type="text" id="grantId2" name="grantId2"  class="form-control"/>
    </div>
</div>
<div class="border-dashed border-bottom my-4"></div>
<div class="gx-2 gy-3 row">
    <div class="col-md-12 text-end">
        <input type="button" class="w-20 btn btn-primary di_click_evt" id="spectrumInquiry" data-func="spectrumInquiry" value="Spectrum Inquiry"/>
        <input type=button class="w-20 btn btn-primary di_click_evt" id="grant" data-func="grant" value="Grant">
        <input type=button class="w-20 btn btn-warning di_click_evt" id="relinquishment" data-func="relinquishment" value="Relinquishment">
        <input type=button class="w-20 btn btn-secondary di_click_evt" id="flowView" data-func="flowView" value="Msg Log">
    </div>
</div>

<script>
var _grant_list = null;
function grant(obj, auto_grant_success=null, lowFreq=null, highFreq=null)
{
    var selectedRow = dataTable.select();

    lowFreq = lowFreq==null?$(".highlight").data("low"):lowFreq
    highFreq = highFreq==null?$(".highlight").data("high"):highFreq

    if( selectedRow.length == 0)
    {
        alert("CBSD 리스트에서 CBSD 를 선택하세요")
        return;
    }

    var dataItem = dataTable.dataItem(selectedRow);

    if( lowFreq == null || lowFreq == "")
    {
        //alert("채널을 선택하세요")
        auto_grant(dataItem)
        return;
    }


    var payload = {
        "cbsdId": dataItem.CBSD_ID,
        "operationParam": {
            "maxEirp": 30,
            "operationFrequencyRange": { "lowFrequency": lowFreq, "highFrequency": highFreq }
        }
    }

    $.ajax({
        url: '{{request.route_url("api/grant")}}',  // AJAX 요청할 URL
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(payload),
        success: auto_grant_success != null ? auto_grant_success : function(response) {
            console.log(response);  // 응답 처리

            var code = response.response.responseCode
            var message = response.response.responseMessage

            if( code != 0 )
            {
                alert("Error[" + "Code : " + code + ", Message : " + message + "]")
            }
            else
            {
               alert("Success")
               get_grant_list(dataItem.CBSD_ID)
            }
        },
        error: function() {
            console.log('Error occurred while fetching data.');
        }
    });
}

function auto_grant(data)
{
    if( data.STATUS == "DEREGIST" )
    {
        // 일단 cbsd regist 를 진행한다.
        regist(obj, auto_regist_success)
    }

    spectrumInquiry(data, auto_spectrumInquiry_success)
}

function auto_regist_success(data)
{
    spectrumInquiry(data, auto_spectrumInquiry_success)
}

function auto_spectrumInquiry_success(data)
{
    var code = data.response.responseCode
    var message = data.response.responseMessage


    if( code != 0 )
    {
        alert("Error[" + "Code : " + code + ", Message : " + message + "]")
    }
    else
    {
        var availableChannel = data.availableChannel;
        var maxEirp = 0;
        var channelCandidate = 0;
        for( var i = 0 ; i < availableChannel.length ; i++ )
        {
            var channel = availableChannel[i]

            var CH_NO = channel["frequencyRange"]["highFrequency"] % 3310000000 / 10000000 + 1
            var availEirp = channel["maxEirp"]
            CH_NO
            $("#inquery_ch" + CH_NO).css("background-color", "#f4f4f4")
            if( availEirp > 0 )
            {
                $("#inquery_ch" + CH_NO).css("background-color", "#7efa5f")

                if( maxEirp < availEirp )
                {
                    maxEirp = availEirp
                    channelCandidate = CH_NO
                }
            }
            else
            {
                $("#inquery_ch" + CH_NO).css("background-color", "#fea5a5")
            }


        }
        if( channelCandidate == 0 )
        {
            alert("가용한 채널이 없습니다.")
            return;
        }
        var freq = getFreqByChannel(channelCandidate)
        grant(data, auto_grant_success, freq.lowFreq, freq.highFreq)
        //alert("Success")
    }


}

function getFreqByChannel(ch) {
    if (ch < 1 || ch > 10) {
        throw new Error("채널 번호는 1 ~ 10 사이여야 합니다.");
    }

    const lowFreq = 3300000000;   // 3.3 GHz
    const highFreq = 3310000000;  // 3.31 GHz
    const numChannels = 10;

    // 채널 간격 계산
    const step = (highFreq - lowFreq) / numChannels;

    // 해당 채널의 주파수 범위 계산
    const chLow = lowFreq + step * (ch - 1);
    const chHigh = chLow + step;

    return {
        lowFreq: chLow,
        highFreq: chHigh
    };
}

function auto_grant_success(data)
{
    console.log(data);  // 응답 처리

    var code = data.response.responseCode
    var message = data.response.responseMessage

    if( code != 0 )
    {
        alert("Error[" + "Code : " + code + ", Message : " + message + "]")
    }
    else
    {
        alert("Grant Success : grandId - ", data.grantId)
        /*
        var selectedRow = dataTable.select();
        if( selectedRow.length == 0)
        {
            alert("CBSD 리스트에서 CBSD 를 선택하세요")
            return;
        }
        */

        //var dataItem = dataTable.dataItem(selectedRow);
        get_grant_list(data.cbsdId)
    }
}

function relinquishment(obj)
{
    var selectedRow = dataTable.select();

    if( selectedRow.length == 0)
    {
        alert("CBSD 리스트에서 CBSD 를 선택하세요")
        return;
    }

    if( $("#grantId2").val() == "" )
        return;

    var dataItem = dataTable.dataItem(selectedRow);

    var payload = {
        "cbsdId": dataItem.CBSD_ID,
        "grantId": $("#grantId2").val()
    }

    $.ajax({
        url: '{{request.route_url("api/relinquishment")}}',  // AJAX 요청할 URL
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(payload),
        success: function(response) {
            console.log(response);  // 응답 처리

            var code = response.response.responseCode
            var message = response.response.responseMessage

            if( code != 0 )
            {
                alert("Error[" + "Code : " + code + ", Message : " + message + "]")
            }
            else
            {
               alert("Success")
               get_grant_list(dataItem.CBSD_ID)
            }
        },
        error: function() {
            console.log('Error occurred while fetching data.');
        }
    });
}

function get_grant(obj)
{
    $(".highlight").removeClass("highlight");
    $(obj).addClass("highlight");

    $("#grant_ch_status").val("")
    $("#grant_freq_range").val("")
    $("#grantId2").val("")
    $("#grant_expiretime").val("")
    $("#transmit_expiretime").val("")

    var ch_no = $(obj).data("chno")
    for( var i = 0 ; i < _grant_list.length ; i++ )
    {
        var grant = _grant_list[i]

        if( grant["CH_NO"] == ch_no )
        {
            $("#grant_ch_status").val(grant["STATUS"])
            $("#grant_freq_range").val(grant["LOW_FREQ"] + "-" + grant["HIGH_FREQ"])
            $("#grantId2").val(grant["GRANT_ID"])
            $("#grant_expiretime").val(grant["GRANT_EXPIRETIME"])
            $("#transmit_expiretime").val(grant["TRANSMIT_EXPIRETIME"])

            return
        }
    }

    $("#grant_ch_status").val("IDLE")
    $("#grant_freq_range").val($(obj).data("low") + "-" + $(obj).data("high"))

}

function flowView()
{
    var cbsdId = $("#CBSD_ID").val()

    if( cbsdId == null || cbsdId == "")
    {
        return;
    }

    getServerUrl()
    const videoUrl = getServerUrl()+'msglogview/' + cbsdId;
    const windowFeatures = 'width=1200,height=600,resizable=yes,scrollbars=yes,status=no';
    const newWindow = window.open(videoUrl, 'CBSD MESSAGE FLOW V1.0', windowFeatures);
}

function flowTableView()
{
    var cbsdId = $("#CBSD_ID").val()

    if( cbsdId == null || cbsdId == "")
    {
        return;
    }

    getServerUrl()
    const videoUrl = getServerUrl()+'msglogview/' + cbsdId;
    const windowFeatures = 'width=1200,height=600,resizable=yes,scrollbars=yes,status=no';
    const newWindow = window.open(videoUrl, 'CBSD MESSAGE FLOW V1.0', windowFeatures);
}
</script>